
/*=====product=====*/
.product{
    cursor: pointer!important ;
    margin-bottom: 2rem!important ;
}

.product img{
    transition: 0.3s all!important ;
    
    width: 100%!important ;
    height: 320px!important ;
    background-size: cover!important ;
    background-position: top  center!important ;
}

.product:hover img{
    opacity: 0.7!important ;
}

.product .buy-btn{
    background: coral!important;
    transform: translateY(20px)!important;
    opacity: 0!important;
    transition: 0.3 all!important;
}
.product:hover .buy-btn{
    transform: translateY(0)!important;
    opacity: 1!important;
}

.product a{
    text-decoration: none!important;
    color: #000!important;
}




/*pagination*/
.pagination a{
    color: #000!important;
    
}
body > section > nav > ul > li.page-item.active > a{
    background-color: #000!important;
    color: #fff!important;
    border: 1px solid rgb(115, 113, 113)!important;
}
body > section > nav > ul > li:nth-child(n):hover>a{
    background-color: coral!important;
    color: #fff!important;
    border: 1px solid rgb(115, 113, 113)!important;
}









